@import "tailwindcss";

:root {
  background: #f0f0f5;
  color: #1C1C1E;
}

.shape{
  width: 98%;
  height: 100vh;
  border-radius: 48px;
    /* background-image: linear-gradient(lightgrey, #f0f0f5); */
    background:red;
  clip-path: path("M 0 50 Q 0 0 50 0 H calc(100% - 50px) Q 100% 0 100% 50 V calc(100% - 50px) Q 100% 100% calc(100% - 50px) 100% H 300 Q 250 100% 250 calc(100% - 50px) V calc(100% - 50px) Q 250 calc(100% - 50px) 200 calc(100% - 50px) H 50 Q 0 calc(100% - 50px) 0 calc(100% - 100px) Z");
}

.hdcgudh{
  background-image: linear-gradient(transparent, #f0f0f5);
}

@theme inline{
  --font-main: var(--font-roboto);
  --font-header: var(--font-montserrat)
}

@media (min-width:768px) {
  .shape{
    background-image: linear-gradient(to right, lightgrey, #f0f0f5);
  }
}